<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqs.fast.gamestore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <!--<uses-permission android:name=""-->

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabActivity"></activity>
        <activity android:name=".activity.MainAct"></activity>
        <activity android:name=".activity.GameDetailActivity"></activity>
        <activity android:name=".activity.SearchKfFragmentActivity"/>

        <service
            android:name=".service.MyDownLoadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <meta-data android:name="AA_DB_NAME" android:value="gamestore.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="myfullpackage.myentity1, myfullpackage.myentity2"
            />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58184495734be45eb7002812">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="bc6113cf8ee07c96307498fd14cf2c44">
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel_1" >
        </meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lqs.fast.gamestore.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>